* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.main-item {
  padding: 3%;
  line-height: 1.25;
  text-align: center;
  flex: 1;
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 15%;
  margin-right: 15%;
}

.label {
  text-align: right;

}

.main-item p {
  margin-top: 0.5rem;
}